<div class="row">

  <div class="form-group">
    <label for="des" class="control-label col-sm-6">
      Seleccionar Fecha:
    </label>
    <div class="col-sm-2">
      <input type="date" class="form-control" id="des" name="fotografoTelefono" [(ngModel)]="reserva.fechaReserva"
        placeholder="ingrese un telefono">
    </div>
  </div>

  <div class="col-sm-6">
    <a [routerLink]="['/registrarLocal']" class="btn btn-success">
      Registrar Local
    </a>
    <h2>Listado de Locales: </h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Foto</th>
          <th>Nombre del Local</th>
          <th>Direccion del Local</th>
          <th>telefono del Local</th>
          <th>Cantidad de personas Maximas</th>
          <th>Distrito</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let local of locales">
          <td><img class="card-img-top" src="{{local.foto}}" alt="Card image cap"></td>
          <td>{{local.nomLocal}}</td>
          <td>{{local.dirLocal}}</td>
          <td>{{local.telfLocal}}</td>
          <td>{{local.cantLocal}}</td>
          <td>{{local.nomDistrito}}</td>
          <td>
            <a [routerLink]="['/actualizarLocal',local.idLocal]" class="btn btn-success">
              Editar
            </a>
            <a (click)="eliminarLocal(local.idLocal)" class="btn btn-danger">
              Eliminar
            </a>
            <a (click)="SeleccionarLocal(local.idLocal,reserva.fechaReserva)" class="btn btn-success">
              Seleccionar
            </a>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>